<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHyp0bD0cfZRCJGXxMchQgdJPimFt7Kk4</string>
	<key>GCM_SENDER_ID</key>
	<string>725218041421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crisant.dreamcarz</string>
	<key>PROJECT_ID</key>
	<string>dream-carz-7f743</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-carz-7f743.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725218041421:ios:e54d310db5af5e21e5c604</string>
</dict>
</plist>